<% unless @page_caching %>
  <script type="text/javascript">
    var App = App || {};
    App.controller     = "<%= params[:controller] %>";
    App.action         = "<%= params[:action] %>";
    App.save_path      = "<%= rubber_ring_cms_save_path %>";
    App.remove_path    = "<%= rubber_ring_cms_remove_path(':key') %>";
    App.add_image_path = "<%= rubber_ring_cms_image_add_path %>";
  </script>
  <div class="rubber_ring">
    <div class="rubber_cache_preview">
      <a href="?cache=1" target="_blank">Preview and prepare for publish!</a>
    </div>
    <div class="image_upload_box">
      <div class="image_upload_text">Drop new images here</div>
    </div>
  </div>
  <%= javascript_include_tag 'rubber_ring/editor' %>
<% end %>
