<% if @admin %>
  <div class="tbs" id="rubber-ring-application">
    <div class="navbar">
      <div class="navbar-inner">
        <span class="brand">
          <a href="/">Rubber Ring</a>
        </span>
        <ul class="nav">
          <li>
            <a class="dropdown" id="attachment-manager" href="javascript:void(0);">Attachments</a>
          </li>
          <li>
            <a class="dropdown" id="page-title-manager" href="javascript:void(0);">Set page title</a>
          </li>
          <% if RubberRing.static_only %>
            <li>
              <%= link_to 'Build & Publish', rubber_ring.build_path, target: '_blank' %>
            </li>
          <% end %>
          <li class="alert-saved">
            <div class="alert alert-success">Saved!</div>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <%= link_to 'Logout', rubber_ring.logout_path %>
          </li>
        </ul>
      </div>
    </div>

    <div class="attachment-manager well">
      <div class="image_upload_box">
        <div class="image_upload_text">Drop attachments here</div>
      </div>
      <% unless @images.empty? and @attachments.empty? %>
        <button class="btn pull-right remove_not_used_attachments">Remove not used attachments</button>
      <% end %>

      <h5>Images</h5>
      <div class="uploaded-images well well-small">
        <% @images.each do |src| %>
          <img src="/<%= src %>" draggable="true" class="img-polaroid" />
        <% end %>
      </div>

      <h5>Other file attachments</h5>
      <div class="uploaded-attachments well well-small">
        <% @attachments.each do |src| %>
          <a href="/<%= src %>" draggable="true" download>
            <i class="icon-file"></i>
            <%= src.split('/').last %>
          </a>
        <% end %>
      </div>
    </div>

    <div class="page-title-manager well">
      <%= title(@page) do %>Page title<% end %>
    </div>

    <div id="edit-link" class="well well-small">
      <form>
        <div class="control-group">
          <label class="control-label" for="link-title">Title</label>
          <div class="controls">
            <input type="text" id="link-title" placeholder="Link title">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="link-href">Link</label>
          <div class="controls">
            <input type="text" id="link-href" placeholder="Link">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <a id="link-preview" target='_blank'>Test link</a>
          </div>
        </div>
      </form>
    </div>

  </div>

  <script type="text/javascript">
    var App                    = App || {};
    App.controller             = "<%= params[:controller] %>";
    App.action                 = "<%= params[:action] %>";
    App.locale                 = "<%= params[:locale] || I18n.default_locale.to_s %>";

    App.save_path              = "<%= rubber_ring.cms_save_path %>";
    App.save_template_path     = "<%= rubber_ring.cms_save_template_path %>";
    App.add_template_path      = "<%= rubber_ring.cms_add_template_path %>";
    App.remove_template_path   = "<%= rubber_ring.cms_remove_template_path %>";
    App.remove_path            = "<%= rubber_ring.cms_remove_path(':key') %>";

    App.save_image_path        = "<%= rubber_ring.cms_save_image_path %>";
    App.save_attachment_path   = "<%= rubber_ring.cms_save_attachment_path %>";

    App.add_attachment_path    = "<%= rubber_ring.cms_add_attachment_path %>";
    App.remove_attachment_path = "<%= rubber_ring.cms_remove_attachment_path %>";

    App.check_build_finished_path = "<%= rubber_ring.check_build_finished_path %>";

    App.config = {
      action_btns: {
        reset_btn: '<button class="reset-content"></button>',
        reset_img: '<button class="reset-image"></button>'
      }
    }
  </script>
  <%= javascript_include_tag 'rubber_ring/application' %>
<% end %>
