<%= editable_image({key: 'header_image', src: image_path('baws.jpg'), height: '360'}, @page) %>

<%= editable_field(:h1, {key: 'header'}, @page) do %>
  rubber ring cms
<% end %>

<%= editable_field(:div, {key: 'first_content', class: 'multi-line'}, @page) do %>
  editing page content right away
<% end %>

<%= editable_link({class: 'rubber_ring_attachment', key: 'software_architecture', href: 'http://www.education.gov.yk.ca/pdf/pdf-test.pdf'}, @page) do %>
  Link to PDF
<% end %>

<!--
<br>
<br>

<h3>Dynamic site? check your ruber_ring.rb initializer</h3>
<form method="post" action="<%= form_path %>">
  <input name="value" value="" placeholder="Something" />
  <input type="submit" value="Post this" />
</form>
<%# if flash[:message] %>
  <h4>Oh my, you typed "<%#= flash[:message] %>"</h4>
<%# end %>
-->

<!-- <div class="articles">
  <%# repeat_template('article', @page) %>
</div> -->

<div class="blog-posts">
  <% template(['article', 'blog_post'], {key: 'template_key'}, @page) %>
</div>