<%= editable_image({key: 'header_image', src: image_path('baws.jpg'), height: '360'}, @page) %>

<%= editable_field(:h1, {key: 'header'}, @page) do %>
  rubber ring cms
<% end %>

<%= editable_field(:div, {key: 'first_content', class: 'multi-line'}, @page) do %>
  editing page content right away
<% end %>

<h3>Support for attachments</h3>
<%= attachment({key: 'software-architecture', href: 'http://www.education.gov.yk.ca/pdf/pdf-test.pdf'}, @page) do %>
  <%= editable_field(:span, {key: 'link_title'}, @page) do %>Link to PDF<% end %>
<% end %>

<br>
<br>

<h3>Dynamic site? check your ruber_ring.rb initializer</h3>
<form method="post" action="<%= form_path %>">
  <input name="value" value="" placeholder="Something" />
  <input type="submit" value="Post this" />
</form>
<% if flash[:message] %>
  <h4>Oh my, you typed "<%= flash[:message] %>"</h4>
<% end %>

<br>
<br>

<% repeat_template('article', @page) %>
