<%= editable_image({key: 'header_image', src: '/assets/baws.jpg', height: '360'}, @page) %>

<%= editable_field(:h1, {key: 'header'}, @page) do %>
  rubber ring cms
<% end %>

<%= editable_field(:div, {key: 'first_content', class: 'multi-line'}, @page) do %>
  editing page content right away
<% end %>

<h3>Support for attachments</h3>
<%= attachment({key: 'software-architecture', href: 'http://www.education.gov.yk.ca/pdf/pdf-test.pdf'}, @page) do %>
  <%= editable_field(:span, {key: 'link_title'}, @page) do %>Link to PDF<% end %>
<% end %>

<h3>Dynamic site? check your ruber_ring.rb initializer</h3>
<form method="post" action="<%= form_path %>">
  <input name="value" value="" placeholder="Something" />
  <input type="submit" value="Post this" />
</form>

<% if flash[:message] %>
<h4>Oh my, you typed "<%= flash[:message] %>"</h4>
<% end %>

<h2>Blog</h2>
<%= duplicable_editable_field(:ul, {group: 'blog_posts', child_tag: 'li', class: 'multi-line'}, @page) do %>
  <h3>First time live</h3>
  <p>
    Rubber Ring wants to be easy to use. You can listen to me here <a href="http://www.youtube.com/watch?v=Cpf6gJU3520">Rubber Ring</a>
  </p>
  <span>post by zigomir</span>
<% end %>
