<!DOCTYPE html>
<html>
<head>
  <title>Example page</title>
  <%= stylesheet_link_tag 'all', media: 'all' %>
  <%= render 'rubber_ring/head' %>
</head>
<body>

<%= yield %>

<%= render 'rubber_ring/application' %>
<%= javascript_include_tag 'main' %>
</body>
</html>
