<!DOCTYPE html>
<html>
<head>
  <title>Example page</title>
  <%= stylesheet_link_tag 'all', media: 'all' %>
  <%= render 'rubber_ring/head' %>
</head>
<body>
<%= render 'rubber_ring/application' %>
<!-- page content start -->
<%= yield %>
<%= javascript_include_tag 'main' %>
</body>
</html>
