<!DOCTYPE html>
<html>
<head>
  <title>RubberRing</title>
  <% unless @page_caching %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  <% end %>
</head>
<body>

<%= yield %>

<!--load this only for admin-->
<% unless @page_caching %>
  <script type="text/javascript">
    var App = App || {};
    App.controller = "<%= params[:controller] %>";
    App.action     = "<%= params[:action] %>";
</script>
<a href="?cache=1" target="_blank">Preview and prepare for publish!</a>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% end %>
</body>
</html>
